<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Checkout</title>
  </head>
  <body>
    <form id="payment-form" action="/checkout" method="post">
      <!-- We changed the action to our checkout file -->
      <!-- This file will be the page that displays to let the customer know their transaction was successful -->
      <script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"
       data-braintree-dropin-authorization="sandbox_rx8dxxqr_qr7h9y9634y43hy3"
      ></script>
      <input type="submit" value="Purchase"></input>
    </form>
  </body>
</html>
